{% extends 'base.html' %} 

{% block content %}
<div class="container top">
    <div class="row">
        <div class="col-md-7">
            {% for image in images %}
            <div class="home-images">
                
                <p class="text-center">{{image.title}}</p>
                <img src="{{image.image.url}}" style="width: 400px; height: 400px;" alt="Image">
                
                
             
            </div>
            
            {% autoescape on %}
            
            <strong>Description: </strong>{{image.description|safe}}
            <br>
            <strong>Link: </strong><a href="{{image.link|safe}}">{{image.link|safe}}</a>  
            {% endautoescape %}
                    
            {% endfor %} 
           
        </div>
    </div>
</div>
{% endblock %}